<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tommy.ticket-workflow.stop</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>__CHECKOUT__/launchd/ticket-workflow.sh</string>
		<string>--stop</string>
		<string>__HOME__/Projects/ttsecuritas-2</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>17</integer>
		<key>Minute</key>
		<integer>45</integer>
	</dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
	</dict>
	<key>StandardOutPath</key>
	<string>__CHECKOUT__/var/ticket-workflow.log</string>
	<key>StandardErrorPath</key>
	<string>__CHECKOUT__/var/ticket-workflow.log</string>
</dict>
</plist>
